@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
/* font-family: "Madimi One", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Madimi+One&display=swap');
/* font-family: "Bree Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Madimi+One&display=swap');
/* font-family: "Literata", serif; */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
/* font-family: "Concert One", sans-serif; */

/* Topbar Styles */
.topbar{
    min-height: 100px;
    background-color: rgb(255, 255, 255); 
    position: sticky !important;
    top: 0;
    z-index: 1;
}
.orderIcon{
    font-style: 50px;
}
.orderIcon:hover{
    cursor: pointer;
}
.orderIcon>h4>span{
  color: orangered;
  font-size: 30px;
}
.orderIcon>h4{
  font-weight: 800;
  display: inline;
  font-family: "Madimi One", sans-serif;
}
.icon{
  font-size: 35px;
  color: black;  
}
.nav_heads>a{
  color: black;
  font-size: 18px;
  font-family: "Literata", serif;
  font-weight: 700;
  text-shadow: 0px 0px 2px grey  ;
  margin-left: 40px;
}
.nav_heads>a:hover{
  color: orangered !important;
  text-shadow: 1px 1px 1px black  ;
  transform: scale(1.2);
  transition: ease-in-out 200ms;
  font-weight: 700;
  border-bottom: 1px solid black;
  opacity: 0.6;
  cursor: pointer;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

/* About page */

.about_image{
    flex: 0.5;
  }
  .about_heading{
    flex: 0.5;
    margin-top: 1rem;
  }
  .about_heading>div>h1{
   color: chocolate;
    font-family: "Literata", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    padding-top: 84px;
  }
  .about_heading>div>p{
    font-size: 20px;
    font-family: "Literata", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  .about_heading>div>img{
    align-items: center;
    height: 370px;
    margin-left: 180px;
  }
  .float_image{
    float: left;
    height: 250px;
    padding: 10px;
    border-radius: 30px;
  }
  .float_image_right{
    float: right;
    height: 250px;
    padding: 10px;
    border-radius: 30px;
  }

  /* Service Page  */

  .service_icon{
    height: 70px;
    width: 70px;
  }
  .service_icon>svg{
    font-size: 40px;
    padding: 10px;
  }
  #services{
    font-family: "Literata", serif;
  }

  /* Testimonal Page */
 
  .testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }
  .testimonial_h3{
    font-weight: 800;
    font-size: 35px;
    font-family: "Literata", serif;
    opacity: 0.6;
  }
  .testimonial_p{
    font-weight: 600;
    font-size: 20px;
    opacity: 0.6;
    font-family: "Literata", serif;
  }


  /* Footer Page */

  .footer_page{
    margin-top: 20px;
    min-height: 300px;
    background-color: rgb(68, 65, 65);
    display: grid;
    align-items: center;
    column-gap: 30px;
    grid-template-columns: 30% 30% 30%;
    flex-wrap: wrap;
  }
  .footer_copyRights{
    height: 80px;
    background-color: rgb(68, 65, 65);
    border-top: 2px solid bisque;
  }
  .copy{
       color: beige ;
       text-align: center;
       margin-top: 20px;
       text-shadow: 1px 1px 3px beige;
  }
  .orderIcon_footer{
    color: white;
    display: inline;
    font-family: "Concert One", sans-serif;
    padding: 50px;
  }
  .orderIcon_footer>h4>span{
    color: orangered;
    display: inline !important;
    font-size: 30px;
  }
  .icon_footer{
    color: white;
    font-size: 40px;
  }
  .footer_adress{
    font-family: "Concert One", sans-serif;
    color: white;
    padding: 20px;
    font-weight: 500;
  }
  .footer_about{
    text-align: center;
  }
  .footer_about2{
    color: aliceblue;
    font-family: "Concert One", sans-serif;
    list-style: none;
    text-align: center;
  }
  .footer_about2>ul{
    list-style: none;
    padding-left: 0;
  }
  .footer_about2>ul>li:hover{
    cursor: pointer;
    color: red;
    text-decoration: underline;
  }
  .footer_about2>h3{
    text-decoration: underline;
    color: orangered;
  }
  .footer_about3{
    text-align: center;
    font-family: "Concert One", sans-serif;
  }
  .footer_about3>h3{
    text-decoration: underline;
    color: orangered;
  }
  .footer_flex_icons{
    font-size: 30px;
    color: white ;
    display: flex;
    justify-content: space-evenly;
  }
  .footer_about3>h6{
    text-decoration: underline;
    color: white; 
    padding: 10px;
  }
  .footer_about3>h6:hover{
    color: greenyellow;
    cursor: pointer;
  }
  .footer_flex_icons>a>svg:hover{
    color: orangered;
  
  }

  /* Price Card  */
  section.pricing {
    background: white;
    background:white;
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  .plans_h1{
    text-align: center;
    font-family: "Literata", serif;
    font-weight: 800;
    opacity: 0.7;
  }


  /* Media Query for Landing/Hone Page */
  @media (max-width: 1130px) {
    .about_image{
     min-width:100%;
    }
  .flex{
    display: block;
    width: 100%;
    text-align: center;
  }
  .about_image2{
    margin-left: 0px;
  }
    
   }
   @media (max-width: 700px) {
    .footer_page{
      font-size: small;
      display: flex;
      justify-content: center;
    }
    .about_content{
      justify-content: center;
    }
   }

   @media (max-width: 560px) {
    .about_image{
      max-width:350px;
     }
     .about_image2{
      display: none;
     }
   }
/* -------------------------------------------LANDING PAGE OVER-------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */


   

  



